
<h1>Class <i data-feather="box" class="icon"></i><a href="{page_url}">{name}</a></h1>
<div>
    <a href="{header_url}" class="header-link">
        <code>
            #include <span class="url">&lt;{header_path}&gt;</span>
        </code>
    </a>
</div>
<div>
    {description}
</div>
<div>
    <details open class="section">
        <summary>
            <span>
                <i data-feather="chevron-right"></i>
                Public member functions
            </span>
        </summary>
        <div>
            {public_member_functions}
        </div>
    </details>
</div>
