
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{name} Docs</title>
    {default_head}
</head>
<body>
    <nav>
        {default_navbar}
    </nav>
    <main>
        <h1>Class <em>{name}</em></h1>
        <div>
            {header_link}
        </div>
        <div>
            {description}
        </div>
        <div>
            <h2>Public member functions</h2>
            <div>
            </div>
        </div>
    </main>
    <script defer>
        {default_script}
    </script>
</body>
</html>
