<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geode Docs</title>
</head>
<body>
    <h1>Class <em>{name}</em></h1>
    <div>
        <a href="{header_url}">View Header</a>
        <a href="{source_url}">View Source</a>
    </div>
    <p>{description}</p>
    <div>
        <h2>Public member functions</h2>
        <div>
        </div>
    </div>
</body>
</html>