
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: var(--flash-body-bg);
    color: var(--flash-white);
    display: grid;
    grid-template-columns: 22.5rem 1fr;
    grid-template-rows: 100% 100%;
}

body > .overlay {
    top: 1rem;
    right: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 9999px;
    box-shadow: 0 .25rem .5rem var(--flash-shadow);
}

body > .overlay > button {
    background-color: var(--flash-dark);
    color: var(--flash-light);
    border: none;
    padding: .35rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

body > .overlay > button:first-child {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

body > .overlay > button:last-child {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

body > .overlay > button:hover:not(.selected) {
    background-color: var(--flash-less-dark);
    cursor: pointer;
}

body > .overlay > button.selected {
    background-color: var(--flash-tab-selected-bg);
    color: var(--flash-tab-selected-color);
}

body > .overlay > button > .feather {
    height: 1.25rem;
}
