
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{name} Docs in {project_name}</title>
    {default_head}
</head>
<body>
    {navbar}
    <main>
        <h1>File <em>{name}</em></h1>
        <div>
            {file_link}
        </div>
        <div>
            {description}
        </div>
        <div>
            <h2>Classes</h2>
            <div>
            </div>
        </div>
    </main>
    <script defer>
        {default_script}
    </script>
</body>
</html>
