
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="description" content="{page_description}">
<meta property="og:image" content="/icon.png">
<meta property="og:image:width" content="80">
<meta property="og:image:height" content="80">
<meta property="og:type" content="object">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{page_title}" />
<meta name="twitter:description" content="{page_description}" />
<meta property="twitter:image:src" content="/icon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&family=Varela+Round&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autolinker/prism-autolinker.min.js"></script>
<script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/line-numbers/prism-line-numbers.css" data-noprefix />
<link rel="stylesheet" href="{output_url}/themes.css">
<link rel="stylesheet" href="{output_url}/default.css">
<link rel="stylesheet" href="{output_url}/nav.css">
<link rel="stylesheet" href="{output_url}/content.css">
<script defer src="{output_url}/script.js"></script>
<title>{page_title}</title>
