
<div class="mode">
    <button id="nav-tab-tutorials" class="selected" onclick="showNav('tutorials')">
        <i data-feather="book"></i>Tutorials
    </button>
    <button id="nav-tab-entities" onclick="showNav('entities')">
        <i data-feather="code"></i>Classes
    </button>
    <button id="nav-tab-files" onclick="showNav('files')">
        <i data-feather="file"></i>Source
    </button>
</div>
<div id="nav-content-tutorials" class="content">
</div>
<div id="nav-content-entities" class="content" style="display: none;">
    {entity_content}
</div>
<div id="nav-content-files" class="content" style="display: none;">
    {file_content}
</div>
<div class="search">
    <div class="input">
        <input id="nav-search" placeholder="Search items...">
        <button id="nav-clear-glass">
            <i data-feather="search"></i>
        </button>
        <button id="nav-clear-x" onclick="clearSearch()" style="display: none;">
            <i data-feather="x"></i>
        </button>
    </div>
</div>
