
<div class="mode">
    <button id="nav-tab-entities" class="selected" onclick="showNav('entities')">Entities</button>
    <button id="nav-tab-files" onclick="showNav('files')">Files</button>
</div>
<div id="nav-content-entities" class="content">
    {entity_content}
</div>
<div id="nav-content-files" class="content" style="display: none;">
    {file_content}
</div>
<div class="search">
    <div class="input">
        <input id="nav-search" placeholder="Search items...">
        <button id="nav-clear-glass">
            <i data-feather="search"></i>
        </button>
        <button id="nav-clear-x" onclick="clearSearch()" style="display: none;">
            <i data-feather="x"></i>
        </button>
    </div>
</div>
