
<!DOCTYPE html>
<html lang="en">
<head>
    {head_content}
</head>
<body class="flash-theme-dark">
    <div class="overlay">
        <button data-pick-theme="dark" class="selected"><i data-feather="moon"></i></button>
        <button data-pick-theme="peach"><i data-feather="feather"></i></button>
        <button data-pick-theme="ocean"><i data-feather="umbrella"></i></button>
    </div>
    <nav>
        <header>
            {project_icon} {project_name} Docs
            <span class="version">{project_version}</span>
            <a href="{project_repository}"><i data-feather="github"></i></a>
        </header>
        {navbar_content}
    </nav>
    <main>
        {main_content}
    </main>
</body>
</html>
