
<!DOCTYPE html>
<html lang="en">
<head>
    {head_content}
</head>
<body class="flash-theme-dark">
    <div class="overlay">
        <button data-pick-theme="dark" class="selected"><i data-feather="moon"></i></button>
        <button data-pick-theme="peach"><i data-feather="feather"></i></button>
        <button data-pick-theme="ocean"><i data-feather="umbrella"></i></button>
    </div>
    <nav>
        {navbar_content}
    </nav>
    <main>
        {main_content}
    </main>
</body>
</html>
